dist
spec/support/generated

/.bundle
pkg
log
tmp
node_modules
yarn-debug.log*
yarn-error.log*
.yarn-integrity
gemfiles/*.lock
.DS_Store

.env.local
.env.*.local

docs/pnpm-lock.yaml
.pnpm-debug.log

tsconfig.vitest-temp.json
